# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.venv/
venv/
.env

# =========================
# NODE
# =========================
node_modules/
.next/
dist/
build/
.env.local

# =========================
# LOGS
# =========================
*.log

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db

# =========================
# UPLOADS
# =========================
uploads/
